
body {
    margin: 0;
    font-family: 'Fredoka One',cursive;
    color: #FFF;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/background.png);
}

.middle {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.logo {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 0 0 25px #000;
}

.application-name {
    font-size: 48px;
    text-shadow: 0 0 5px #000;
    vertical-align: middle;
    display: inline;
}

.download-img {
    width: 180px;
}

a {
    display: inline-table;
    margin: 15px 15px 0;
}

@media screen and (max-width: 480px) {
    .application-name {
        font-size: 30px;
    }

}